invoice2data>=0.2.74,<=0.3.4
  # Invoice2data new requires a recent version of pdftotext from https://poppler.freedesktop.org/releases.html
  # and the version below doesn't work any more
  #- wget -P /tmp http://public.akretion.com/pdftotext-3.04
  #- sudo mv /tmp/pdftotext-3.04 /usr/local/bin/pdftotext
  #- sudo chmod 755 /usr/local/bin/pdftotext
PyPDF2  # needed for account_invoice*zugferd
phonenumbers
six>=1.10.0  # pytest requirement conflict then we pin here
